/*
    Things Styles in this file:
        1. body
        2. button (primary and outline)
        3. input
        4. form
        5. label
*/

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

:root {
    --color-light: #f4f4f4;
    --color-light-surface: #f9f9f9;
    --color-dark: #141414;
    --color-accent: #8254F8;
    --color-accent-hover: #703BF7;
    --color-shadow: rgba(20, 20, 20, 0.3);
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
}

button {
    padding: 0.7rem 1.5rem;
    color: var(--color-light);
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-accent-hover);
    border-color: var(--color-accent-hover);
}

.button-outline {
    background-color: transparent;
    color: var(--color-accent)
}

.button-outline:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-light);
}

a {
    text-decoration: none;
    color: var(--color-dark);
    cursor: pointer;
}

input {
    width: 100%;
    padding: 0.7rem;
    border: 2px solid var(--color-shadow);
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.2rem;
}

input:focus {
    border-color: var(--color-accent);
}


.form-cta-text {
    font-weight: 600;
    color: var(--color-dark);
}

label {
    color: var(--color-dark)
}

.form-main-container {
    background-color: var(--color-light-surface);
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid var(--color-shadow);
    max-width: 30rem;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: start;
}

.form-input-label-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 100%;
}

.form-inputs-container a {
    width: 100%;
    text-align: end;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 500;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-container button {
    width: 100%;
}

.form-cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
}

.form-multi-input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}